@charset "UTF-8";

@font-face {
    font-family: 'fonte01';
    src: url('/desafio/desafio-005/fontes/Cardinal.ttf') format('truetype');
}

@font-face {
    font-family: 'fonte02';
    src: url('/desafio/desafio-005/fontes/Cardinal-Alternate.ttf') format('truetype');
}

@font-face {
    font-family: 'fonte03';
    src: url('/desafio/desafio-005/fontes/Sriracha-Regular.ttf') format('truetype');
}

:root{
    --fonte-01:'fonte01', cursive;
    --fonte-02:'fonte02', cursive;
    --fonte-03:'fonte03', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte-03);
    line-height: 2em;
}

header > h1{
    padding-top: 50px;
    padding-bottom: 10px;
    font-family:var(--fonte-01);
}

header > p{
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-03);
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(71, 71, 71);
    color: white;
}

section.imagem >p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.233);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px ;
    font-family: var(--fonte-03);
}